# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
coverage

# next.js
.next/
out/

# production
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo

# generated d.ts file for next.js
next-env.d.ts

# yalc
.yalc
yalc.lock

# dist
dist

# env files
.env*

# local mongo
local-mongo/

# config
local.json
local-*.json

# local-only directories
local-dev-dir/
local-test-dir/

# local mutex for ixtb-nextjs seed script (proper-lockfile)
ixtb-nextjs/.seed-fimidx-js-env-test.lock

.forerunner-mongo/
